//DESKTOP VIEW
@media screen and (min-width: 1280px) {

labe{
  display:block;
}

.footer-section{
  max-width: 1440px;
  margin: 0 auto;
  display:block;
  background: var(--dark-green);
  height: 534px;
}

.logo{
  display: block;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-color: var(--white);
  margin-bottom: 40px;

}


.footer-container {
  display: flex;
  width: 100% auto;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  padding: 104px 132px 32px;
}
.contact-list{
  list-style: none;
  display: flex;
  font-size: 18px;
  color: var(--white);
  flex-direction: column;
  padding-bottom: 20px;
  text-align: justify;
  list-style: none;
}
.contact-number, .contact-address{
  color: var(--white);
}
.contact-number:hover, .contact-address:hover{
  color: var(--ocean);
}

.footer-item{
  display: flex;
  flex-direction: row;
  gap: 460px;
}
.page-link{
  text-align:justify;
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;

}
.about-us, .catalog, .sale{
  color: var(--white);
}
.about-us:hover{
  color: var(--ocean);
}
.catalog:hover{
  color: var(--ocean);
}
.sale:hover{
  color: var(--ocean);
}
.page-link-item{
  margin-bottom: 18px;
}
.footer-list-links-item{
  fill: currentColor;
  margin: 0;
}
.footer-list-facebook{
  border: 1px solid var(--grey);
  border-radius: 3px;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
}

.footer-list-instagram{
  border: 1px solid var(--grey);
  border-radius: 3px;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
}
.footer-list-youtube{
  border: 1px solid var(--grey);
  border-radius: 3px;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
}
.social-media{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-description{
  display: flex;
  flex-direction: row;
  padding-top: 174px;
}
 .privacy{
  margin-left: 750px;
 }
 .terms{
  margin-left: 18px;
 }
 .copyright, .privacy, .terms{
  color: var(--white);
 }
}

//Tablet View
@media screen and (min-width: 768px) {
  .footer-container {
    width: calc(704px + 2*32px);
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
  }
}
@media screen and (min-width:768px) and (max-width:1199px) {
  .footer-section{
    max-width: 768px;
    margin: 0 auto;
    display:block;
    background: var(--dark-green);
    height: 476px;
  }
  
  .logo{
    display: block;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-color: var(--white);
    margin-bottom: 40px;
  
  }
  
  .footer-container {
    display: flex;
    width: 100% ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 32px;
  }
  .contact-list{
    list-style: none;
    display: flex;  
    font-size: 18px;
    color: var(--white);
    flex-direction: column;
    padding-bottom: 20px;
    text-align: justify;
    list-style: none;
  }
  .contact-number, .contact-address{
    color: var(--white);
  }
  .contact-number:hover, .contact-address:hover{
    color: var(--ocean);
  }
  
  .footer-item{
    display: flex;
    flex-direction: row;
    gap: 155px;
  }
  .page-link{
    text-align:justify;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
  
  }
  .about-us, .catalog, .sale{
    color: var(--white);
  }
  .about-us:hover{
    color: var(--ocean);
  }
  .catalog:hover{
    color: var(--ocean);
  }
  .sale:hover{
    color: var(--ocean);
  }
  .page-link-item{
    margin-bottom: 18px;
    // margin-left: 0px;
  }
  .footer-list-links-item{
    fill: currentColor;
    margin: 0;
  }
  .footer-list-facebook{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--iris);
    border-radius: 3px;
    color: var(--white);
  }
  
  .footer-list-instagram{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--iris);
    color: var(--white);
  }
  .footer-list-youtube{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--iris);
    color: var(--white);
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .footer-description{
    display: flex;
    flex-direction: row;
    padding-top: 152px;
  }
  .copyright{
    font-size: 14px;
  }
  .privacy{
    margin-left: 180px;
    font-size: 14px;
   }
  .terms{
    margin-left: 18px;
    font-size: 14px;
   }
   .copyright, .privacy, .terms{
    color: var(--white);
   }
}

//Mobile View
@media screen and (min-width: 375px) {
  .footer-container {
    width: calc(335px + 2*20px);
    padding-left: 50px;
    padding-right: 20px;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-section{
    width: 375px;
    height: 434px;
    margin: 0 auto;
    display:block;
    background: var(--dark-green);
    
  }
  
  
  .logo{
    display: block;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-color: var(--white);
    margin-bottom: 40px;
  
  }
  
  .footer-container {
    display: flex;
    width: 100% ;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px;
  }
  .contact-list{
    list-style: none;
    display: flex;  
    font-size: 14px;
    color: var(--white);
    flex-direction: column;
    padding-bottom: 20px;
    text-align: justify;
    list-style: none;
  }
  .contact-number, .contact-address{
    color: var(--white);
  }
  .contact-number:hover, .contact-address:hover{
    color: var(--ocean);
  }
  
  .footer-item{
    display: flex;
    flex-direction: row;
    gap: 130px;
  }
  .page-link{
    text-align:justify;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
  
  }
  .about-us, .catalog, .sale{
    color: var(--white);

  }
  .about-us:hover{
    color: var(--ocean);
  }
  .catalog:hover{
    color: var(--ocean);
  }
  .sale:hover{
    color: var(--ocean);
  }
  .page-link-item{
    margin-bottom: 4px;
    // margin-left: 0px;
  }
  .footer-list-links-item{
    fill: currentColor;
    margin: 0;
  }
  .footer-list-facebook{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 3px;
    color: var(--white);
  }
  
  .footer-list-instagram{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    color: var(--white);
  }
  .footer-list-youtube{
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    color: var(--white);
  }
  // Note: ito po yung trial ko para ma choose ang 3rd list item ng social media
  // .footer-list-links-item:nth-child(3){
  //   list-style-position:calc(335px + 2*20px);
  //   list-style:unset;
  //   display: inline-flex;
  //   flex-direction: calc(335px + 2*20px);

  // }
  .social-media{
    display: inline-flex;
    align-items: flex-start;
   list-style-position:unset;

    // flex-direction: ;
    // gap: 16px;
    margin-left:20px;
    margin-top: 180px;
  }
  .footer-description{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  .copyright{
    font-size: 14px;
  }
  .privacy{
    margin: 0px;
    font-size: 14px;
   }
  .terms{
    margin-left: 18px;
    font-size: 14px;
   }
   .copyright, .privacy, .terms{
    color: var(--white);
   }
}
