ul {
  list-style-type: none;
  
}

.footer-con {
  max-width: 1176px;
  margin: 0 auto;
  padding: 104px 32px;
  text-align: center;
  white-space: nowrap;
}

.footer-container {
  width: 100% ;
  margin-left: auto;
  margin-right: auto;
  background-color:#1E2827;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  padding: 104px 132px 32px;
}

.contacts-section {
  display: block;
  text-align: left;
  justify-content: left;
}

.footer-logo-link {
  width: 50px;
  height: 50px;
  fill: #FFFFFF;
}

.footer-logo-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-item-link {
   text-decoration: none;
   color: #FFFFFF;
   font-family: Epilogue;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.33em;
   text-transform: uppercase;
}

.address-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  
}

.copyright-text {
  color: #C6CDD1;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin-top: 174px;
}

.menu-section {
  display: block;
  text-align: left;
  justify-content: left;
}

.menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}


.menu-item-link {
  text-decoration: none;
  color: #FFF;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33em;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.socials-section {
  display: block;
  text-align: right;
  justify-content: right;
}

.socials-section svg {
  align-items: center;
  justify-content: center;
}

.socials-list {
  display: flex;
  column-gap: 16px;
  justify-content: right;
  align-items: right;
  margin-bottom: 336px;

}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  padding: 8px 8px;
  box-sizing: border-box;
}

.socials-icon {
  width: 28px;
  height: 28px;
  padding: 0 auto;
  fill: #FFFFFF;
  justify-content: center;
  align-items: center;



}

.footer-links {
  display: flex;
  text-align: right;
  justify-content: right;
}

.footer-item {
  display: inline-block;
  margin-left: 18px;
}

.footer-item-link {
  text-decoration: none;
  color: #C6CDD1;
  text-align: right;
  font-family: epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
}

