* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Epilogue;
    background-color: white;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
}

.new-watches {
    padding: 80px 132px;
}

.nw-container {
    align-items: center;
}

.nwsec-title {
    color: rgba(20, 20, 20, 0.40);
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.72px;
    margin-bottom: 8px;
}

.nwsecsub-title {
    width: 448px;
    color: var(--dark-green, #1E2827);
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 110% */
    letter-spacing: -0.8px;
    margin-bottom: 80px;
}

.nw-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.nw-list-item {
    width: 576px;
}

@media only screen and (min-width: 320px){
    .nw-list {
        padding: auto 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .nw-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }
}


