* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Epilogue;
    background-color: white;
}

ul {
    list-style-type: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.new-watches {
    padding: 80px 132px;
}

.nw-container {
    align-items: center;
}

.nwsec-title {
    color: rgba(20, 20, 20, 0.40);
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.72px;
    margin-bottom: 8px;
}

.nwsecsub-title {
    width: 448px;
    color: var(--dark-green, #1E2827);
    font-family: Epilogue;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 110% */
    letter-spacing: -0.8px;
    margin-bottom: 80px;
}

.nw-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.nw-list-item {
    width: 576px;
}


@media only screen and (min-width: 375px) {
    .container {
      width: calc(335px + 2*20px);
    }
  
    .nw-item-container {
      display: flex;
      flex-direction: column;
    }
  
    .nw-list {
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
      width: calc(704px + 2*32px);
      padding-left: 32px;
      padding-right: 32px;
    }
  
    .nw-list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 24px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      width: calc(1176px + 2*24px);
      padding-left: 24px;
      padding-right: 24px;
    }
  }    



