<footer class="footer">
    <div class="container">
        <div class="container-footer">

            <div class="footer-logo-contacts">
                <div class="footer-logo">
                    <a href="./index.html" class="footer-logo-icon">
                        <img class="logo" src="./images/footer/footer-logo.png">
                    </a>
                </div>

                <address class="footer-address">
                    <ul class="footer-contacts-list">
                        <li class="footer-contact-item">
                            <a class="footer-contact-link" href="tel:+380684439426"
                                >+380&nbsp;(68)&nbsp;443&#8209;94&#8209;26</a>
                        </li>
                        <li class="footer-contact-item">
                        <a  href="https://goo.gl/maps/WfPTx864KJyST95v6"
                            target="_blank"
                            class="footer-contact-link"
                            ><p>1678 S. Pioneer Road</p>
                            <p>Salt Lake City</p>
                            <p>UT 84104</p></a>
                        </li>
                    </ul>
                </address>
            </div>

            <div class="footer-nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a class="Footer-nav-title" href="#about">About Us</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="Footer-nav-title" href="#catalog">Catalog</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="Footer-nav-title" href="#sale">Sale</a>
                    </li>
                </ul>
            </div>

            <div class="footer-social-media">
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a href="https://www.facebook.com/" 
                            target="_blank"
                            class="footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use src="./images/footer-icons.svg#facebook">
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.instagram.com/"
                            target="_blank"
                            class="footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use src="./images/footer-icons.svg#instagram">
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="https://www.youtube.com/"
                            target="_blank"
                            class="footer-social-link">
                            <svg class="footer-social-icon" width="24" height="24">
                                <use src="./images/footer-icons.svg#facebook">
                            </svg>
                        </a>
                    </li>
                </ul>
            <div>
        </div>

        <div class="footer-copy-privacy">
            <p class="footer-privacy-desc">
              &#169;2022 The Watch Spot. All rights reserved.
            </p>
            <ul class="footer-privacy-servis">
                <li class="footer-privacy-servis-desc">
                    <a href="">Privacy Policy</a>
                </li>
                <li class="footer-privacy-servis-desc">
                    <a href="">Terms of Service</a>
                </li>
            </ul>
        </div>

    </div>
</footer>