<div class="footer-section">
    <div class="footer-container">
        <img class="logo" src="./images/footer/footer-logo.png">
        <div class="footer-item">
            <ul class="contact-info">
                <li class="contact-list">
                <a class="contact-number"  href="tel:+380(68)443-94-26">+380 (68) 443-94-26</a></li>
                <li class="contact-list">
                <a class="contact-address" href="https://maps.google.com/maps?q=1678+S.+Pioneer+Road,+Salt+Lake+City,+UT+84104">1678 S. Pioneer Road<br>Salt Lake City<br>UT 84104</a>
                </li>
            </ul>
            <ul class="page-link">
                <li class="page-link-item">
                <a class="about-us" href="#">About Us</a>
                </li>
                <li class="page-link-item">
                <a class="catalog" href="#">Catalog</a>
                </li>
                <li class="page-link-item">
                <a class="catalog" href="#">Sale</a>
                </li>
            </ul>
            <ul class="social-media">
                <li class="footer-list-links-item">
                    <a href="#" class="footer-list-facebook">
                        <img class="facebook" src="./images/footer/fb.png">
                    </a>
                </li>
                <li class="footer-list-links-item">
                    <a href="#" class="footer-list-instagram">
                        <img class="instagram" src="./images/footer/instagram.png">
                    </a>
                </li>
                <li class="footer-list-links-item">
                    <a href="#" class="footer-list-youtube">
                        <img class="youtube" src="./images/footer/youtube.png">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="footer-description">
            <li class="copyright">©2022 The Watch Spot. All rights reserved.</li>
            <li class="privacy">Privacy Policy</li>
            <li class="terms">Terms of Service</li>
        </ul>
    </div>
</div>