<footer class="footer">
        <div class="container footer-container">
            <div class="contacts-section">
                <a href="#" class="footer-logo-link">
                    <div class="contacts">
                        <svg class="footer-logo-icon">
                            <use href="./images/icons.svg#logo"></use>
                        </svg>
                </a>
                    <ul class="contacts-list">
                        <li class="contacts-item"><a href="tel:+380(68)443-94-26" class="contacts-item-link">+380 (68) 443-94-26</a></li>
                        <li class="contacts-item">
                            <p class="address">
                                <a class="address-link" href="https://maps.google.com/maps?q=1678+S.+Pioneer+Road,+Salt+Lake+City,+UT+84104">1678 S. Pioneer Road<br>Salt Lake City<br>UT 84104</a>
                            </p>
                        </li>
                    </ul>
                        <div class="copyright-section">
                            <p class="copyright-text">&copy; 2022 The Watch Spot. All rights reserved.</p>
                        </div>
                    </div>
            </div>

            <div class="menu-section">
                <ul class="menu-list">
                    <li class="menu-item"><a class="menu-item-link" href="#">About Us</a></li>
                    <li class="menu-item"><a class="menu-item-link" href="#">Catalog</a></li>
                    <li class="menu-item"><a class="menu-item-link" href="#">Sale</a></li>
                </ul>
            </div>
            <div class="socials-section">
                <ul class="socials-list">
                    <li class="socials-item">
                        <a href="#" class="socials-link"> 
                            <svg class="socials-icon">
                                <use href="images/icons.svg#facebook-icon" />
                            </svg>
                        </a>
                    </li>
                    <li class="socials-item">
                        <a href="#" class="socials-link">
                            <svg class="socials-icon">
                                <use href="images/icons.svg#instagram-icon"/>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-item">
                        <a href="#" class="socials-link"> 
                            <svg class="socials-icon">
                                <use href="images/icons.svg#youtube-icon"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer">
                    <ul class="footer-links">
                        <li class="footer-item"><a class="footer-item-link" href="#">Privacy Policy</a></li>
                        <li class="footer-item"><a class="footer-item-link" href="#">Terms of Service</a></li>
                      </ul>
                </div>
            </div>
        </div>
</footer>