<!-- header section -->
<header class="main-header">
    <div class="header-container">
        <nav class="header-nav">
            <a class="logo">
                <img src="/src/images/svg/logo.svg" alt="" width="19" height="19">
                <span class="title">thewatchspot</span>
            </a>
            <ul class="nav-list">
                <li>
                    <a href="about-us">ABOUT US</a>
                </li>
                <li>
                    <a href=" menu-list">CATALOG</a>
                </li>
                <li>
                    <a href="menu-list">SALE</a>
                </li>

            </ul>
        </nav>
        <address class="address">
            <a href="">+380 (68) 443-94-26</a>
        </address>
    </div>
</header>