<section class="new-watches">
    <div class="container nw-container">
        <h2 class="nwsec-title">New watches</h2>
            <h3 class="nwsecsub-title">Green And Bronze—The Match Made In Heaven</h3>
                <div class="nw-item-container">
                    <ul class="nw-list">
                        <li class="nw-list-item">
                            <img src="./images/new-watches/prjdt9.jpg" alt="hand model">
                        </li>
                        <li class="nw-list-item">
                            <img src="./images/new-watches/prjdt8.jpg" alt="black watch">
                        </li>
                    </ul>
                </div>
    </div>
</section>